name: intl_phone_number_input
description: A simple and customizable flutter package for inputting phone number in intl / international format uses Google's libphonenumber.
version: 0.6.1
homepage: https://github.com/natintosh/intl-phone-number-input

environment:
  sdk: ">=2.6.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  meta: ^1.3.0

  libphonenumber_plugin: ^0.2.2
  equatable: ^2.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  test: any


# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  assets:
    - assets/flags/
